@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  position: fixed;
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid rgb(69, 108, 9);
  /* backdrop-filter: blur(10px); */
  z-index: 1;
  background-color: white;
  color: rgb(29, 60, 3);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.sub-container {
  padding-top: 5rem;
}
.banner {
  background-color: rgb(103, 212, 212);
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.card div {
  width: 30vw;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgb(97, 179, 190);
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 {
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  justify-content: center;
  align-items: center;
}
.card-2 div {
  width: 30vw;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgb(23, 132, 146);
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-3 {
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  justify-content: center;
  align-items: center;
}
.card-3 div {
  width: 30vw;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgb(137, 210, 197);
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  height: 30vh;
  background-color: rgb(129, 170, 227);
  justify-content: center;
  align-items: center;
}
